body {
    font-family: 'Arial', sans-serif;
    background-color: aquamarine;
  }
  
  div {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
  }
  
  button {
    background-color: #4c5baf;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a04598;
  }
  
  .password-input {
    position: relative;
  }
  
  .password-input input {
    padding-right: 30px;
  }
  
  .password-input span {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  @media (max-width: 768px) {
    div {
        max-width: 90%;
        background-color: bisque;
    }

    input {
        margin-bottom: 10px;
        background-color: chartreuse;
    }

    button {
        padding: 8px;
        background-color: blue;
    }
}
  