.authentication-container {
  
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  
}

.authentication-form {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.1);

  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 90%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0efecd1;;
}

.password-input {
  /* position: relative; */
  /* width:90%; */
  /* margin-right: 10px; */
  display: flex;
  justify-content: space-between;
}

.confirm-password-input {
  /* margin-top: 15px; */
  width:70%;
}

.password-toggle {
  /* position: absolute; */
  /* top: 50%; */
  /* right: 10px; */
  padding: 10px;
  margin-left: 15px;
  /* transform: translateY(-50%); */
  cursor: pointer;

}

.authentication-button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #8760d02c, #3aafa9a0);
  border: 1px solid #be372824;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-link {
  color:#6a9f3f;

  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .authentication-form {
    width: 80%;
  }
}
