.authentication-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1492684223066-81342ee5ff30?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;

}

.authentication-form {
  width:    300px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: transparent;
  backdrop-filter: blur(20px);
  align-items: center;
  margin-bottom: 40px;
}

.authentication-form h2 {
  text-align: center;
  color: white;
}
.input-field {
  width: 70%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 35px;
}

.password-input {
  /* position: relative; */
  /* width:90%; */
  /* margin-right: 10px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.password-toggle {
  cursor: pointer;
}

.confirm-password-input {
  /* margin-top: 15px; */
  width:70%;
}

.password-toggle {
  /* position: absolute; */
  /* top: 50%; */
  /* right: 10px; */
  padding: 6px;
  margin-left: 0px;
  /* transform: translateY(-50%); */
  cursor: pointer;
  color: white;
}

.authentication-button {
  width: 50%;
  padding: 10px;
  background-color: #104579;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 80px;
}

.toggle-link {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.para {
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .authentication-form {
    width: 80%;
  }
}
