
.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .admin-header {
    background-color: #3AAFA9;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  #tab{
    height: 60vh;
    overflow: scroll;
    /* border:1px solid black; */
  }