html, body {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background-color: #BE3728;
  margin: 20px;
  border-radius: 10px;
  margin-top: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  max-height: 40px; 
  margin-right: 10px;
  border-radius: 50%;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff; 
  font-weight: bold;
}

.cart-icon {
  max-height: 30px; 
}


.nav-link:hover {
  text-decoration: underline;
}



/* FOOTER STYLING */


.footer {
  background-color: #BE3728;
  color: #fff;
  padding: 0px 0;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;

}

.footer-section p {
  margin: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-section ul li {
  margin-right: 20px;
}

.footer-section ul li {
  margin-right: 20px; 
}

.social-icons {
  display: flex;

}

.icon-link {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

.icon-link img {
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
}


.icon-link:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

.footer-bottom p {
  font-size: 0.8rem;
  margin: 0;
}


/*   ABOUT US PAGE */

.about-us-page {
 
  margin: 0 auto;
  background-color: azure;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.container p {
  text-align: center;
  font-family: var(--ff-montserrat);
  font-size: larger;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  
}

.who-we-are {
  margin-top: 40px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
