html, body {
  height: 100%;
  margin: 0px;
  font-family: 'Arial', sans-serif;

}

body {
  display: flex;
  flex-direction: column;
  background-color: #f0efec90;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  background-color: #104579;
  height: 8vh;
}



.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  max-height: 50px; 
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff; 
  font-weight: bold;
}

.cart-icon {
  max-height: 30px; 
}

.cart-counter {
  position: absolute;
  top: 30px;
  right: 95px;
  font-size: 12px;
  background-color: #104579;
  color: white;
  border-radius: 50%;
  padding: 1px;
}

.nav-link:hover {
  text-decoration: underline;
}




/* FOOTER STYLING */



.footer {
  background-color: #104579;
  color: #fff;
  padding: 15px 0;
  margin-top: 0%; 
  margin-bottom: 0; 
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}

/*    ABOUT US */

/* AboutUs.css */

.about-us-container {
  padding: 40px 20px;
  background-color: #f5f5f5; /* Add background color as needed */
}

.about-us-content {
  max-width: 1000px;
  margin: 0 auto;
}

.section {
  display: flex;
  margin-bottom: 40px;
}

.text {
  flex: 2;
  max-width: 50%;
}

.image1,
.image2,
.image3 {
  flex: 1;
  margin-right: 20px;
}

img {
  width: 100%; /* Make images responsive, fill the container width */
  height: auto;
}

h2 {
  color: #104579;
  font-size: 2em;
  text-align: center;
}

h3 {
  color: #555;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
  
}

p {
  color: #666;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.highlighted-section {
  margin-top: 20px;
}

.highlighted-section h3 {
  color: #555;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.highlighted-section ul {
  list-style: none;
  padding: 0;
}

.highlighted-section li {
  color: #666;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 10px;
}

.highlighted-section li strong {
  font-weight: bold;
  color: #333;
}

