body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #be372808;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#calendar{
  /* color: red; */
  display: flex;
  justify-content: space-between;
}
.ticket_img{
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0px 0px;
}
#upcoming{
  /* border: 1px solid black; */
  /* margin: 10px ; */
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  padding: 9.5px;
  justify-content: center;
  overflow: scroll;
  

}
#trending{
  border-bottom: 10px solid #be372824;
  border-top: none;
  /* border-left: 1px solid #be372824 ;
  border-right: 1px solid #be372824 ; */
  border-radius: 0px 0px 11px 11px ;
  height: 25vh;
  margin: 0px 10% 0px 10%;
  padding: 10px;
  padding-bottom:0.5px;
  display: flex;
  /* align-items: center; */
  justify-content: center;

}
#ticket{
  border: 2px solid #be372824;
  border-radius: 11px ;
  padding: 2px;
  margin: 10px;
  width: 250px;
  height: 95%;

  
}
#ticket:hover{
  cursor: pointer;
  border: 5px solid #be372824;
}
/* Hide scroll bar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#ticket_details{
  display: flex;
  justify-content: space-between;
  height: 160px;

}
#name_loc{
 width: 80%;
 /* border: 1px solid black; */
 padding: 10px;

}
#calendar{
  /* border: 1px solid black; */
  width: 20%;

}

#filter{
margin-right: 12px;
display: flex;
justify-content: space-between;

}

.filter{
  padding: 7px;
  margin: 10px;
  border-radius: 4px;
  width: 300px;
  
}

#ticket_filter{
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  padding-left: 20px ;
 
}

#trending_card{
  border: 1px solid black;
  width: 500px;
  margin: 30px;
  padding-top: 20px;
  /* display: flex; */
}
.trending_img {
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  
}
@media screen and (min-width: 600px) {
  .trending_img {
    width: 200px; /* Default width for smaller screens */
  }
}
@media screen and (min-width: 1200px) {
  .trending_img {
    width: 400px; /* Larger width for screens wider than 1200px */
  }
}

.trending_card{
  /* border: 1px solid black; */
  display: flex;
  width: 1000px;
}
/* #ti{
  width: 10%;
} */
/* */
#trending #name_loc{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
#calenda{
    
    width:9%
  }

.btn{
  border: none;
  padding: 7px;
  font-size: 22px;
  background-color: #be372800;
  color:#be37288a;
  

}
#btn{
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  font-size: 17px;
  background-color: #be372808;
  border: 1px solid #be372824;
  
}
.btn:hover, #btn:hover{
  cursor: pointer;
  
}
.btn:hover{
  font-size: 30px ;
}
#btn:hover{
    border: 3px solid #be372824; 

}